<!DOCTYPE html>
<html>
<head>
    <title>EDUTRACK</title>
</head>
<body>

<h2>📚 EDUTRACK</h2>

<a href="/logout">Logout</a>

<h3>Add Task</h3>

<form method="POST">
    <input name="task" placeholder="Task" required>
    <input type="date" name="date" required>
    <input type="time" name="time" required>

    <select name="status">
        <option value="Not Started">Not Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Done">Done</option>
    </select>

    <button type="submit">Add</button>
</form>

<hr>

<h3>Task List</h3>

<ul>
{% for task in tasks %}
    <li>
        <b>{{ task.task }}</b> <br>
        Deadline: {{ task.deadline }} <br>
        Status: <b>{{ task.status }}</b> <br>
        💬 {{ task.quote }} <br><br>

        <!-- UPDATE STATUS -->
        <form action="/update_status/{{ loop.index0 }}" method="POST">
            <select name="status">
                <option value="Not Started" {% if task.status == "Not Started" %}selected{% endif %}>Not Started</option>
                <option value="In Progress" {% if task.status == "In Progress" %}selected{% endif %}>In Progress</option>
                <option value="Done" {% if task.status == "Done" %}selected{% endif %}>Done</option>
            </select>
            <button type="submit">Update</button>
        </form>

        <!-- DELETE -->
        <a href="/delete/{{ loop.index0 }}">Delete</a>
    </li>
    <hr>
{% endfor %}
</ul>

</body>
</html>
